@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --spacer: 0.5rem;
  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Fraunces", serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --fs-300: 0.875rem;
  --fs-500: 1.125rem;
  --fs-700: 1.5rem;
  --fs-900: 2rem;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(228, 12%, 48%);
  --clr-neutral-700: hsl(212, 21%, 14%);

  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-300: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 36%, 27%);
}

* {
  box-sizing: border-box;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
  margin: 0;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}

img {
  /* max-height: 100%; */
  max-width: 100%;
  /* height: 100%; */
  height: auto;
  display: block;
  /* width: 100%; */
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, calc(var(--spacer) * 2));
}

.flow-content--large {
  --flow-spacer: 2rem;
}

body {
  background-color: var(--clr-primary-100);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  color: var(--clr-neutral-300);
}

.bg-primary-300 {
  --fg: var(--clr-neutral-100);
  --bg: var(--clr-primary-300);
}

/* layout */
.container {
  position: static;
  margin: 1rem;
  max-width: 400px;
  border-radius: 10px;
  /* padding: 1rem; */
}

.text-content {
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 100%;
}

/* content */

.h4 {
  letter-spacing: 5px;
  font-weight: var(--fw-300);
  text-transform: uppercase;
  font-size: var(--fs-300);
}

h2 {
  font-size: var(--fs-900);
  font-family: var(--ff-serif);
  color: var(--clr-neutral-700);
}

.text-content p {
  line-height: 1.5;
}
.special-price {
  color: var(--clr-primary-300);
}

.price-container {
  position: relative;
}
.original-price {
  position: absolute;
  left: 150px;
  top: 0;
  text-decoration: line-through;
}

button {
  width: 100%;
  padding: 1rem;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--bg, var(--clr-primary-300));
  color: var(--fg, var(--clr-neutral-100));
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  --bg: var(--clr-primary-500);
}
.inline {
  display: inline;
}

.btn > * + * {
  margin-left: var(--spacer, 0.5em);
}

.product-img-desktop {
  display: none;
}
.product-img-mobile {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (min-width: 40em) {
  .container {
    display: flex;
    max-width: 600px;
  }
  .product-img-mobile {
    display: none;
  }
  .product-img-desktop {
    display: block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .image-container img {
    max-height: 100%;
    height: 100%;
    width: auto;
  }
  .image-container {
    width: 100%;
  }
  .text-content {
    max-width: 100%;
    width: 100%;
    padding: 2rem;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    object-fit: contain;
    -webkit-box-sizing: border-box;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .flow-content {
    --flow-spacer: 2rem;
  }
}
